// normalize.scss

$font-family-base:   sans-serif;
$font-size-base:     16px;
$font-weight-base:   400;
$line-height-base:   1;

$body-color:   #000;
$body-bg:      #fff;

$headings-margin-bottom:   1rem;
$paragraph-margin-bottom:  1rem;

$link-color: inherit;
$link-decoration: none;

$link-hover-color: inherit;
$link-hover-decoration: none;

$label-margin-bottom: 0;
