#sidebar .section {
  background: $color-light-primary;
  border: 1px solid $color-border-2;
  padding: 23px 30px 26px;
  
    .title {
      font-weight: 700;
      font-size: 20px;
      color: $color-dark-primary;
      padding-bottom: 23px;
      margin-bottom: 26px;
      border-bottom: 1px solid $color-border-1;
  }
}
