#sidebar .section {
  background: $color-light-primary;
  border: 1px solid #dedede;
  padding: 18px 30px 26px;
  
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 60px;
      color: $color-dark-primary;
      margin-bottom: 0;
      border-bottom: 1px solid #dde3e8;
  }
}
