#prod-inf {
  background: $color-light-primary;
  border: 1px solid $color-border-2;
  padding: 23px 30px 26px;
  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: $color-dark-primary;
    padding-bottom: 23px;
    margin-bottom: 23px;
    border-bottom: 1px solid $color-border-1;
  }

  .infoside {
    color: $color-aside-info;
  }

  p + p {
    margin-top: 22px;
  }

}
