.photo {
    &,
    &-big,
    &-small,
    &-square {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }

    &,
    &-big,
    &-small {
        border-radius: 50%;
    }

    & {
        width: 34px;
        height: 34px;
    }

    &-big {
        width: 48px;
        height: 48px;
    }

    &-small {
        width: 30px;
        height: 30px;
    }

    &-square {
        width: 73px;
        height: 63px;
        
        img {
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
}
