#section {
    background: $color-light-secondary;
    height: 705px;
    padding-top: 130px;
    padding-bottom: 137px;

    .container {
        vertical-align: middle;

        .col-12 {
            background: $color-img-photo;
            box-shadow: 0 0 30px #ccc;
            margin-left: 32px;
            margin-right: 32px;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
            height: 438px;
            justify-content: center;
            
            .author {
                background: $color-accent-1;
                display: flex;
                align-items: center;
                height: 216px;
                width: 653px;
                line-height: 36px;
                justify-content: center;

                p {
                    color: $color-light-primary;
                    font-size: 30px;
                    margin-bottom: 0;
                    margin-right: 48px;             
                }

                .btn {
                    color: $color-dark-primary;
                    font-size: 18px;
                    background: $color-light-primary;
                    width: 225px;
                    height: 63px;
                    text-align: center;
                    padding: 13px 0;
                }
            }
        }
    }
}

