#promo {
    padding-top: 130px;
    padding-bottom: 137px;
    background: $color-light-secondary;

    .promo-wrapper {
        display: flex;
        margin: 0 32px;
        padding: 115px 0;
        background: $color-img-photo;
        box-shadow: 0 0 30px $shadow-promo;
    }

    .promo-content {
        margin: 0 auto;
        padding: 70px 60px;
        display: flex;
        background: $color-accent-1;
        
        .promo-text {
            margin-right: 47px;
            color: $color-light-primary;
            font-size: 30px;
            line-height: 36px;
        }

        .btn {
            padding: 26px 43px 20px;
            background: $color-light-primary;
            color: $color-dark-primary;
            font-size: 18px;
            text-align: center;
        }
    }
}
