#choose-us {
    padding-top: 125px;
    padding-bottom: 115px;
    background: $color-dark-primary;
    text-align: center;

<<<<<<< HEAD
  .title {
    font-size: 36px;
    line-height: 1.2;
    color: $color-light-primary;
    margin-bottom: 83px;
    text-transform: capitalize;
  }
=======
    .title {
        font-size: 36px;
        line-height: 1.2;
        color: $color-light-primary;
        margin-bottom: 83px;
        text-transform: capitalize;
    }
>>>>>>> dev

    .img {
        width: 113px;
        height: 113px;
        background: $color-img-photo;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }

    .subtitle {
        margin-top: 26px;
        margin-bottom: 21px;
        font-size: 24px;
        line-height: 1.3;
        color: $color-light-primary;

        a {
            transition: color .3s;

            &:hover {
                color: $color-accent-1;
            }
        }
    }

    .desc {
        font-size: 15px;
        line-height: 24px;
        color: $color-dark-text;
    }
}
