<<<<<<< HEAD
.count {
    &::before,
    &::after
    {
        color: $color-dark-text;
    }

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}
=======
span .count::before {
    content: "(";
    color: $color-dark-text;
}

span .count {
    font-family: robotoregular, 'open-sans', sans-serif;
    font-size: 12px;
}

span .count::after {
    content: ")";
    color: $color-dark-text;
}
>>>>>>> 2710e3507b7dc9b4bed2a404ee43b21a408554d6
