body {
    display: flex;
    flex-direction: column;
}

header {
    order: 0;
}

#breadcrumbs,
#main-wrapper {
    order: 2;
}

#search {
    order: 1;
}

footer {
    order: 3;
}

.sidebar-left #aside {
    order: -1;
}
