.product {
    background: $color-light-primary;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &:hover {
        box-shadow: 0px 16px 20px 0px rgba($shadow-product, 0.75);
    }
    span {
        display: inline-block;
    }
    .counter {
        font-size: 12px;
        &::before,
        &::after {
            color: #b0bec5;
        }
        &::before {
            content: '( ';
        }
        &::after {
            content: ' )';
        }
    }
    .product-data {
        width: 100%;
        .product-info {
            padding: 24px 32px;
            .product-title {
                font-family: $font-family-base;
                .product-price {
                    float: right;
                    font-size: 30px;
                    font-weight: 700;
                    color: $color-dark-primary;
                    line-height: 40px;
                }
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    color: $color-dark-primary;
                    margin-bottom: 8px;
                }
                .product-category {
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-accent-1;
                    margin-bottom: 14px;
                }
            }
        }
    }
    .product-description {
        P {
            font-size: 14px;
            color: #70838d;
            margin-bottom: 0;
        }
        .counter-sales {
            float: right;
            font-size: 13px;
            color: #aeb4bb;
        }
    }
    .product-autor {
        padding: 15px 32px 18px;
        border-top: 1px solid $color-border-1;
        .photo-small {
            min-width: initial;
            margin-right: 12px;
        }
        .autor-name {
            font-size: 14px;
            font-weight: 500;
            color: $color-accent-5;
            line-height: 30px;
        }
        .product-badges {
            float: right;
            line-height: 28px;
            .fa {
                font-size: 16px;
                color: $color-accent-1;
                margin-right: 16px;
            }
            .separate {
                margin-left: 30px;
                margin-right: 16px;
                font-size: 16px;
                color: #aeb4bb;
            }
            .rating {
                .fa {
                    color: #cfd8dc;
                    font-size: 12px;
                    margin-right: 0;
                    &:hover {
                        color: $color-accent-3;
                    }
                }
            }
        }
    }
}

.view-mode-line {
    .product-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

.view-mode-tile {
    .product-description,
    .product-badges .counter-comment,
    .product-badges .counter-wishlist,
    .product-badges .fa-comment-o,
    .product-badges .fa-heart-o,
    .product-badges .separate {
        display: none;
    }
}
